<div style="height: calc(100vh - var(--drupal-displace-offset-top) - 154px - 2rem); position: relative;">
    <div id="oodsp-manager-frame" style="position: absolute;top: 50%;transform: translateY(-50%);width: 100%;height:100%;"></div>
</div>
